<ol class="post-list">
  {{#each posts as |post|}}
    {{> title-info post }}
  {{/each}}
</ol>

<!--
<ol class="post-list">
  {{#each posts as |post|}}
  <li>
       {{> post-info post }}
  </li>
  {{/each}}
</ol>
-->